@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f26200;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eb7d34;
}

.icon {
  font-size: 100px;
}

.contact-input::placeholder {
  color: #757575;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.scrolled {
  animation: fadeInDown 0.5s ease;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.no-scroll {
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1200ms;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.wave {
  animation: wave 12s linear infinite;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  transform: translateX(-25%);
  opacity: 0.3;
  z-index: 1;
}

.hero-bg {
  background-color: #f5ecdb;
}

.hero-heading {
  color: #f26200;
}

.hero-text {
  color: #757575;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pulse:hover {
  animation: pulse 1s ease-in-out infinite;
}

@media screen and (max-width: 1024px) {
  header .nav-icon {
    font-size: 34px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .mobile-menu {
    background: #fff;
    flex-direction: column;
    height: calc(100vh - 54px);
    left: -320px;
    padding: 16px;
    position: absolute;
    top: 46px;
    transition: left .3s ease;
    width: 300px;
  }

  .mobile-menu.open {
    left: 0;
  }

  .mobile-menu.animate {
    animation: slideLeftToRight 0.3s ease forwards;
  }

  @keyframes slideLeftToRight {
    from {
      left: -300px;
    }

    to {
      left: 0;
    }
  }

}

@tailwind base;
@tailwind components;
@tailwind utilities;